/* stone web public */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,pre,a,big,cite,code,del,em,img,q,s,samp,small,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,tr,th,td,canvas,footer,header,menu,nav,section,summary,time,mark,audio,video,p,frameset{border:none;margin:0;padding:0;outline:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block;}fieldset,img{border:0;max-width:100%;}address,caption,cite,code,dfn,em,var,i{font-weight:normal;font-style:normal;}ol,ul,dl{list-style:none;}h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}q:before,q:after {content:'';}abbr,acronym{border:0;}input,textarea{outline:none}input:focus,textarea:focus{outline:none}ul:after,dl:after{content:"";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}body{font:13px/1.5 'Microsoft YaHei', Helvetica, Arial, sans-serif;outline:none;background-color:#FEFEFE;color:#333;min-width:320px;-webkit-text-size-adjust:none;}a{color:#2b2b2b;text-decoration:none;outline:none;}a:hover{color:#f5a21c;outline:none;}.lt{float:left;}.rt{float:right;}.clear{clear:both;overflow:hidden;height:0;}.clfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}* html .clfix{height:1%;}*+html .clfix{min-height:1px;}.both{clear:both;overflow:hidden;height:2em;}.box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}.transi{transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}.opaci{filter:alpha(opacity=0);opacity:0;}
/* public */
html.full,html.full body{width:100%;height:100%;overflow:hidden;}
.wrap{margin:0 auto;width:1200px;}  
.wrap::after{content:"";display:block;width:100%;height:1px;clear:both;line-height:0px;overflow:hidden;}
.padd{padding:30px 0px;}
.ui-link{transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;}
/* Header */
#Header{width:100%;min-width:1200px;height:103px;background:#FFF;}
#Header .logo{width:245px;height:60px;float:left;margin:24px 0px 0px;}
#Header .logo a{display:block;width:100%;height:100%;}
#Header .menu{float:right;margin:24px 0px 0px;width:560px;}
#Header .menu-link{width:100%;height:24px;text-align:right;margin-bottom:15px;}
#Header .link-box{width:246px;height:24px;float:right;}
#Header .menu-link em{display:inline-block;line-height:24px;float:left;color:#777777;padding:0 5px;}
#Header .menu-link a{display:inline-block;text-align:center;line-height:24px;float:left;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;color:#777777;font-size:14px;}
#Header .menu-link a:hover{color:#e8a171;} 
#Header .menu-link a.sina{height:24px;width:24px;margin-left:20px;background:url(../../images/icon-sina.png) no-repeat center;text-indent:999px;overflow:hidden;}
#Header .menu-link a.sina:hover{background:url(../../images/icon-sina-on.png) no-repeat center;}
#Header .menu-link a.weixin{height:24px;width:24px;margin-left:20px;background:url(../../images/icon-weixin.png) no-repeat center;text-indent:999px;overflow:hidden;}
#Header .menu-link a.weixin:hover{background:url(../../images/icon-weixin-on.png) no-repeat center;}
#Header .menu-link a.return{width:88px;height:24px;margin-left:20px;background:url(../../images/link-return.png) no-repeat;}
#Header .menu-link a.return:hover{color:#e8a171;background:url(../../images/link-return-on.png) no-repeat;}
#Header .menu-nav{width:100%;height:40px;}
#Header .menu-nav ul{width:100%;height:100%;}
#Header .menu-nav li{display:block;float:left;width:20%;line-height:30px;height:100%;text-align:right;}
#Header .menu-nav li a{display:inline-block;height:100%;margin:0px 5px;font-size:14px;position:relative;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}
#Header .menu-nav li i{display:block;width:0%;height:2px;background:#e8a171;position:absolute;bottom:0px;left:50%;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}
#Header .menu-nav li a:hover,#Header .menu-nav li.curr a{color:#e8a171}
#Header .menu-nav li a:hover i,#Header .menu-nav li.curr a i{width:100%;left:0%;}
/* Footer */
#Footer{width:100%;min-width:1200px;height:44px;line-height:44px;color:#969696;background:#EEE;} 
#Footer a{color:#969696;}
#Footer a:hover{color:#e8a171;}
#Footer span{display:inline-block;margin:0 15px;} 
/* banner */ 
.banner{width:100%;min-width:1200px;height:400px;position:relative;overflow:hidden;}
.banner ul.list{width:100%;height:100%;position:relative;}
.banner ul.list li,.banner ul.list li a{width:100%;height:100%;}
.banner ul.list li{position:absolute;top:0px;left:0px;display:none;}
.banner ul.list li a{display:block}
.banner .botn{width:10px;height:60px;position:absolute;top:50%;left:50%;margin-left:-600px;margin-top:-60px;text-align:center;}
.banner .botn span{display:inline-block;width:10px;height:10px;border-radius:50%;margin:2px 0px;background:#b3b3b3;text-indent:999px;overflow:hidden;cursor:pointer;}
.banner .botn span.current{background:#e8a171;}
/* inlet-link */
.inlet-link{width:94px;height:354px;position:absolute;top:50%;right:50%;margin:-150px -600px 0px 0px;z-index:100;}
.inlet-link ul{width:100%;}
.inlet-link ul li{width:100%;height:94px;margin-bottom:18px;}
.inlet-link ul li.case{background:url(../../images/link-bgA.png) no-repeat center;}
.inlet-link ul li.item{background:url(../../images/link-bgB.png) no-repeat center;}
.inlet-link ul li.team{background:url(../../images/link-bgC.png) no-repeat center;}
.inlet-link ul li a{display:block;width:100%;height:100%;position:relative;text-align:center;color:#FFF;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;overflow:hidden;}
.inlet-link ul li a em{display:block;width:200%;height:65px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;}
.inlet-link ul li a span{display:block;width:200%;margin-left:-94px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;}
.inlet-link ul li a span i{display:block;width:94px;float:left;}
.inlet-link ul li.case em{background:url(../../images/link-case.png) repeat-x;}
.inlet-link ul li.item em{background:url(../../images/link-item.png) repeat-x;}
.inlet-link ul li.team em{background:url(../../images/link-team.png) repeat-x;} 
.inlet-link ul li a:hover em{margin-left:-94px;}
.inlet-link ul li a:hover span{margin-left:0px;}
/* webbox */
#webbox{width:100%;min-width:1200px;border-top:1px solid #d9d9d9;}
#webbox .menu-left{width:264px;min-height:600px;background:#EEE;padding-bottom:52px;}
#webbox .menu-left-page{width:100%;height:79px;background:#e8a171 url(../../images/link-case.png) no-repeat;color:#FFF;}
#webbox .building{background:#e8a171 url(../../images/link-item.png) no-repeat;}
#webbox .item{background:#e8a171 url(../../images/link-team.png) no-repeat;color:#FFF;}
#webbox .contact-page{background:#e8a171 url(../../images/link-cact.png) no-repeat;color:#FFF;}
#webbox .menu-left-page p,#webbox .menu-left-page span{display:block;margin-left:80px;}
#webbox .menu-left-page p{padding-top:10px;font-size:20px;}
#webbox .menu-left-page span{text-transform:uppercase;font-size:13px;}
#webbox .menu-left-item{width:100%;}
#webbox .menu-left-item ul{width:100%;} 
#webbox .menu-left-item ul li{width:100%;display:block;}
#webbox .menu-left-item ul li a.f{display:block;width:100%;height:50px;line-height:50px;text-align:center;border-bottom:1px solid #FFF;position:relative;font-size:14px;}
#webbox .menu-left-item ul li a.m{display:block;width:100%;height:50px;line-height:50px;text-align:center;border-bottom:1px solid #FFF;position:relative;font-size:14px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}
#webbox .menu-left-item ul li a.m:hover, #webbox .menu-left-item ul li a.mActino{color:#e8a171;}
#webbox .menu-left-item ul li a.mActino{background:#FFF;}
#webbox .menu-left-item ul li em{display:block;width:14px;height:14px;position:absolute;top:18px;right:14px;background:url(../../images/icon-dn.png) no-repeat center;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}
#webbox .menu-left-item dl{width:100%;background:#FFF;display:none;}
#webbox .menu-left-item dd{display:block;width:100%;height:40px;line-height:40px;text-align:center;}
#webbox .menu-left-item dd a{display:block;width:100%;height:40px;position:relative;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;}
#webbox .menu-left-item dd a span{display:block;width:100%;height:40px;position:absolute;top:0px;left:0px;z-index:2;}
#webbox .menu-left-item dd a p{display:block;width:100%;height:0px;background:#e8a171;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;position:absolute;top:50%;left:0%;} 
#webbox .menu-left-item dd a:hover,#webbox .menu-left-item dd.curr a{color:#e8a171;}
#webbox .menu-left-item dd a:hover p{height:40px;top:0%;}
#webbox .menu-left-item ul li a.active em{background:url(../../images/icon-rgt.png) no-repeat center;}
#webbox .right-box{width:916px;min-height:600px;}
#webbox .right-box-nav{padding-top:38px;height:40px;border-bottom:1px solid #d9d9d9;color:#8c8c8c;margin-bottom:20px;}
#webbox .right-box-nav h1{float:left;font-size:18px;font-weight:normal;text-transform:uppercase;}
#webbox .right-box-nav h1 em{padding:0 10px;}
#webbox .right-box-nav a{width:60px;height:30px;line-height:30px;float:right;padding-left:25px;color:#8c8c8c;background:url(../../images/return.png) no-repeat center left;}
#webbox .right-box-nav a:hover{color:#e8a171;background:url(../../images/return-hover.png) no-repeat center left;}
#webbox .rootle{width:206px;height:30px;background:url(../../images/rootleBG.png) no-repeat center;position:relative;}
#webbox .rootle input[type=text]{height:30px;width:156px;line-height:30px;padding:0px 0px 0px 15px;border:none;background:none;float:left;}
#webbox .rootle input[type=submit]{height:28px;width:30px;border:none;background:url(../../images/icon-find.png) no-repeat center;display:block;cursor:default;padding:0px;position:absolute;top:0px;right:0px;z-index:10;overflow:hidden;text-indent:-999px;} 
#forms .ui-hint{height:100%;line-height:30px;padding:0 0px 0px 15px;color:#aaa;}
#forms .ui-input-box{width:100%;height:100%;position:absolute;top:0px;left:0px;background:url(../../images/tle-wall.png); }
#forms .ui-input{width:400px;height:40px;line-height:40px;border:1px solid #e0e0e0;padding:0 10px;outline:none;background:none;}
#webbox .item-list{width:100%;height:544px;overflow:hidden;}
#webbox .item-list ul{width:1000%;}
#webbox .item-list ul li{display:block;float:left;width:295px;height:510px;margin-right:15px;}
#webbox .item-list ul li a{display:block;width:100%;height:100%;background:#EEE;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}
#webbox .item-list .img-box{width:100%;height:247px;overflow:hidden;}
#webbox .item-list .img-box img,#webbox .item-list ul li a:hover .item-name h1{transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;}
#webbox .item-list .mode{width:88px;height:24px;line-height:24px;text-align:center;color:#e8a171;margin:15px 15px;background:url(../../images/link-return-on.png) no-repeat;}
#webbox .item-list .item-name{color:#5f5f5f;margin:15px 15px;}
#webbox .item-list .item-name h1{display:block;margin-bottom:5px;font-size:18px;font-weight:normal;}
#webbox .item-list .item-name em{display:block;width:26px;height:1px;background:#a0a0a0;}
#webbox .item-list .item-infor{margin:10px 15px;color:#5f5f5f;line-height:22px;font-size:14px;}
#webbox .item-list .door{margin:0px 15px;padding:10px 0px; height:40px;border-bottom:1px solid #d2d2d2;}
#webbox .item-list .door h1{display:block;height:100%;font-size:40px;line-height:40px;float:left;width:105px;text-align:center;border-right:1px solid #d2d2d2;color:#e8a171;font-weight:normal;}
#webbox .item-list .door h2{display:block;margin-left:125px;font-weight:normal;color:#5f5f5f;}
#webbox .item-list .door-name{color:#e8a171;margin:10px 15px;text-align:center;font-size:18px;}
#webbox .item-list .door-infor{margin:10px 15px;color:#5f5f5f;line-height:24px;text-align:center;}
#webbox .item-list ul li a:hover{background:#F2F2F2;}
#webbox .item-list ul li a:hover .img-box img{transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);}
#webbox .item-list ul li a:hover .item-name h1{color:#e8a171}
#webbox .item-list .btnButton{width:100%;height:20px;padding:20px 0px 0px;text-align:center;}
#webbox .item-list .btnButton span{display:inline-block;width:13px;height:13px;margin:0px 3px;border-radius:50%;-ms-border-radius:50%;border:1px solid #e8a171;overflow:hidden;text-indent:-999em;}
#webbox .item-list .btnButton span.curr{background:#e8a171;}
#webbox .items-infor{width:100%;}
#webbox .items-img{width:386px;}
#webbox .items-img img{width:386px;height:552px;display:block;}
#webbox .items-desc{width:500px;}
#webbox .desc-title{width:100%;font-size:24px;padding-bottom:5px;margin-bottom:15px;border-bottom:1px solid #dcdcdc;}
#webbox .tel-number{width:100%;padding:15px 0px;}
#webbox .desc-text{line-height:24px;}
.contact-maps{width:402px;height:552px;}
.contact-maps img{display:block;width:100%;}
.contact-content{width:490px;height:552px;}
.contact-profile{width:100%;}
.phone-number{padding:15px 0px;width:100%;text-align:center;}
.phone-number span{display:inline-block;padding-left:44px;font-size:36px;height:36px;line-height:36px;font-style:italic;color:#e8a171;background:url(../../images/icon-phone-bark.png) no-repeat center left;}
.contact-adder{font-size:20px;color:#666;border-bottom:1px solid #dcdcdc;padding-bottom:15px;margin-bottom:35px;text-align:center;}
.two-code{width:100%;height:220px;}
.two-code li{width:49%;text-align:center;display:inline-block;float:left;}
.right-infor{width:100%;}
.right-infor::after{content:"";display:block;width:100%;height:1px;clear:both;line-height:0px;overflow:hidden;}
.profile-img{width:378px;height:540px;overflow:hidden;}
.profile-infor{width:515px;}
.profile-infor .profile-name{width:100%;border-bottom:1px solid #e8a171;padding-bottom:10px;margin-bottom:15px;}
.profile-infor .profile-name h1{font-size:30px;font-weight:normal;color:#707070;margin-bottom:5px;}
.profile-infor .profile-name p{font-size:18px;color:#e8a171;text-transform:uppercase;}
.profile-infor .profile-desc,.traffic-desc{width:100%;max-height:440px;line-height:24px;font-size:14px;color:#656565;text-align:justify;}
.profile-infor .profile-desc p,.product-desc p,.traffic-desc p{margin-bottom:5px;}
.picture-list{width:100%;}
.picture-list .moveBox{width:100%;overflow:hidden;}
.picture-list ul{height:502px;}
.picture-list ul li{width:932px;height:100%;display:block;float:left;margin-right:14px;overflow:hidden;}
.picture-list ul li a{display:block;width:295px;height:237px;float:left;margin-right:15px;margin-bottom:14px;overflow:hidden;}
.picture-list ul li a img{transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;}
.picture-list ul li a:hover img{transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);}
.picture-list .btnButton{width:100%;height:20px;padding:5px 0px 0px;text-align:center;}
.picture-list .btnButton span{display:inline-block;width:13px;height:13px;margin:0px 3px;border-radius:50%;-ms-border-radius:50%;border:1px solid #e8a171;overflow:hidden;text-indent:-999em;}
.picture-list .btnButton span.curr{background:#e8a171;}
ul.contact{width:100%;margin-bottom:10px;}
ul.contact li{display:block;width:100%;height:30px;line-height:30px;border-bottom:1px solid #bfbfbf;margin-bottom:5px;}
ul.contact li span{display:block;float:left;width:50px;padding-left:28px;color:#e8a171}
ul.contact li.tel span{background:url(../../images/icon-tel.png) no-repeat center left;}
ul.contact li.adder span{background:url(../../images/icon-adder.png) no-repeat center left;}
ul.contact li p{display:block;margin-left:78px;}
.fixed{width:100%;margin-bottom:10px;color:#e8a171;font-size:24px;}
.fixed h1{font-weight:normal;}
.fixed h2{font-weight:normal;margin-bottom:10px;}
.fixed em{display:block;width:50px;height:1px;background:#e8a171;}
.product-desc{width:100%;line-height:24px;font-size:14px;color:#656565;text-align:justify;}
.contact-img{width:500px;}
.contact-infor{width:395px;}
.contact-title{width:100%;border-bottom:1px solid #e8a171;padding-bottom:10px;margin-bottom:15px;text-align:center;}
.contact-title h1{font-size:30px;font-weight:normal;color:#707070;margin-bottom:5px;}
.contact-title p{font-size:18px;color:#e8a171;text-transform:uppercase;}
.contact-desc h1{display:block;padding:15px 0px;text-align:center;font-weight:normal;}
.contact-desc h1 em{display:block;width:100%;line-height:30px;}
.contact-desc h2{display:block;border-bottom:1px solid #dcdcdc;height:56px;line-height:56px;background:url(../../images/icon-phone.png) no-repeat center left;padding-left:45px;color:#666;font-size:24px;font-weight:normal;}
.contact-desc p{display:block;margin-top:15px;line-height:22px;background:url(../../images/icon-lane.png) no-repeat center left;padding-left:45px;color:#666;font-size:16px;font-weight:normal;}
.house-img{width:622px;height:552px;}
.house-img img{display:block;width:100%;}
.house-prod{width:275px;}
.house-prod .door{margin:0px 5px;padding:10px 0px;height:40px;border-bottom:1px solid #d2d2d2;}
.house-prod .door h1{display:block;height:100%;font-size:40px;line-height:40px;float:left;width:105px;text-align:center;border-right:1px solid #d2d2d2;color:#e8a171;font-weight:normal;}
.house-prod .door h2{display:block;margin-left:125px;font-weight:normal;color:#5f5f5f;}
.house-prod .door-name{color:#e8a171;margin:10px 5px;text-align:center;font-size:18px;}
.house-prod .door-infor{width:100%;height:445px;margin:10px 0px 0px;color:#5f5f5f;line-height:24px;text-align:justify;font-size:13px;}
 
/* online */
.online{width:100%;margin-top:30px;}
.online dl{width:100%;}
.online dt,.online dd{display:block;height:36px;margin-bottom:10px;}
.online dt{width:244px;float:left;height:36px;}
.online dd{width:100%;}
.online dd.heig{height:126px;margin-bottom:20px;}
.online label{display:block;width:75px;float:left;text-align:right;line-height:30px;}
.online input[type=text]{border:1px solid #c9c9c9;padding:0 5px;height:30px;line-height:30px;float:left;}
.online .user,.online .Email{width:157px;}
.online .input-tel,.online .input-name,.online .input-adder{width:400px;}
.online .textarea{width:400px;border:1px solid #c9c9c9;padding:0 5px;height:124px;line-height:24px;float:left;}
.online input[type=text]:focus,.online .textarea:focus{border:1px solid #e8a171;}
.btnInput{width:100%;height:36px;}
.btnInput input{width:120px;height:32px;display:block;border-radius:5px;-ms-border-radius:5px;border:none;background:#e8a171;color:#FFF;float:left;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;}
.btnInput input:hover{;background:#646464;color:#FFF;}
.btnInput .submit{margin-left:130px;}
.btnInput .reset{margin-left:20px;}
/* 
@media screen and (min-width: 320px) and (max-width: 640px){
html, body{ background-color:#eee;}
div,li,dd,a,h1,h2,h3,h4,h5,h6{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
.lt{ float:none;}
.rt{ float:none;}
.wrap{ margin:0 10px;}
}
*/