<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianhong.dao.recruit.ResumeWorkHistoryMapper">
  <resultMap id="BaseResultMap" type="com.tianhong.domain.recruit.ResumeWorkHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resume_id" jdbcType="INTEGER" property="resumeId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="industry_type" jdbcType="VARCHAR" property="industryType" />
    <result column="oranazation_type" jdbcType="VARCHAR" property="oranazationType" />
    <result column="report_obj" jdbcType="VARCHAR" property="reportObj" />
    <result column="subordinate_num" jdbcType="INTEGER" property="subordinateNum" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="work_duty" jdbcType="INTEGER" property="workDuty" />
    <result column="achievement_desc" jdbcType="VARCHAR" property="achievementDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resume_id, position, start_date, end_date, address, industry_type, oranazation_type, 
    report_obj, subordinate_num, payment, work_duty, achievement_desc, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resume_work_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_resume_work_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianhong.domain.recruit.ResumeWorkHistory">
    insert into t_resume_work_history (id, resume_id, position, 
      start_date, end_date, address, 
      industry_type, oranazation_type, report_obj, 
      subordinate_num, payment, work_duty, 
      achievement_desc, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{resumeId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{industryType,jdbcType=VARCHAR}, #{oranazationType,jdbcType=VARCHAR}, #{reportObj,jdbcType=VARCHAR}, 
      #{subordinateNum,jdbcType=INTEGER}, #{payment,jdbcType=VARCHAR}, #{workDuty,jdbcType=INTEGER}, 
      #{achievementDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianhong.domain.recruit.ResumeWorkHistory">
    insert into t_resume_work_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resumeId != null">
        resume_id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="industryType != null">
        industry_type,
      </if>
      <if test="oranazationType != null">
        oranazation_type,
      </if>
      <if test="reportObj != null">
        report_obj,
      </if>
      <if test="subordinateNum != null">
        subordinate_num,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="workDuty != null">
        work_duty,
      </if>
      <if test="achievementDesc != null">
        achievement_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resumeId != null">
        #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null">
        #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="oranazationType != null">
        #{oranazationType,jdbcType=VARCHAR},
      </if>
      <if test="reportObj != null">
        #{reportObj,jdbcType=VARCHAR},
      </if>
      <if test="subordinateNum != null">
        #{subordinateNum,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="workDuty != null">
        #{workDuty,jdbcType=INTEGER},
      </if>
      <if test="achievementDesc != null">
        #{achievementDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianhong.domain.recruit.ResumeWorkHistory">
    update t_resume_work_history
    <set>
      <if test="resumeId != null">
        resume_id = #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null">
        industry_type = #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="oranazationType != null">
        oranazation_type = #{oranazationType,jdbcType=VARCHAR},
      </if>
      <if test="reportObj != null">
        report_obj = #{reportObj,jdbcType=VARCHAR},
      </if>
      <if test="subordinateNum != null">
        subordinate_num = #{subordinateNum,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="workDuty != null">
        work_duty = #{workDuty,jdbcType=INTEGER},
      </if>
      <if test="achievementDesc != null">
        achievement_desc = #{achievementDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianhong.domain.recruit.ResumeWorkHistory">
    update t_resume_work_history
    set resume_id = #{resumeId,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      industry_type = #{industryType,jdbcType=VARCHAR},
      oranazation_type = #{oranazationType,jdbcType=VARCHAR},
      report_obj = #{reportObj,jdbcType=VARCHAR},
      subordinate_num = #{subordinateNum,jdbcType=INTEGER},
      payment = #{payment,jdbcType=VARCHAR},
      work_duty = #{workDuty,jdbcType=INTEGER},
      achievement_desc = #{achievementDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="selectByResumeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resume_work_history
    where resume_id = #{resumeId,jdbcType=INTEGER}
  </select>
</mapper>