<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianhong.dao.contact.ContactMapper">
	<resultMap id="BaseResultMap" type="com.tianhong.domain.contact.Contact">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="company" jdbcType="VARCHAR" property="company" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="back_up1" jdbcType="VARCHAR" property="backUp1" />
		<result column="back_up2" jdbcType="VARCHAR" property="backUp2" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.tianhong.domain.contact.Contact">
		<result column="message" jdbcType="LONGVARCHAR" property="message" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, email, phone, company, address, create_time, back_up1, back_up2
	</sql>
	<sql id="Blob_Column_List">
		message
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_contact
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_contact
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tianhong.domain.contact.Contact"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_contact (id, name, email,
		phone, company, address,
		create_time, back_up1, back_up2,
		message)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{backUp1,jdbcType=VARCHAR},
		#{backUp2,jdbcType=VARCHAR},
		#{message,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.tianhong.domain.contact.Contact"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_contact
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="company != null">
				company,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="backUp1 != null">
				back_up1,
			</if>
			<if test="backUp2 != null">
				back_up2,
			</if>
			<if test="message != null">
				message,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="backUp1 != null">
				#{backUp1,jdbcType=VARCHAR},
			</if>
			<if test="backUp2 != null">
				#{backUp2,jdbcType=VARCHAR},
			</if>
			<if test="message != null">
				#{message,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tianhong.domain.contact.Contact">
		update t_contact
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="backUp1 != null">
				back_up1 = #{backUp1,jdbcType=VARCHAR},
			</if>
			<if test="backUp2 != null">
				back_up2 = #{backUp2,jdbcType=VARCHAR},
			</if>
			<if test="message != null">
				message = #{message,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tianhong.domain.contact.Contact">
		update t_contact
		set name = #{name,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		company = #{company,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		back_up1 = #{backUp1,jdbcType=VARCHAR},
		back_up2 = #{backUp2,jdbcType=VARCHAR},
		message = #{message,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tianhong.domain.contact.Contact">
		update t_contact
		set name = #{name,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		company = #{company,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		back_up1 = #{backUp1,jdbcType=VARCHAR},
		back_up2 = #{backUp2,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findPage" parameterType="com.tianhong.domain.contact.Contact"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_contact
		where 1=1
		<if test="name != null and  name!=''">
			AND name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null and endDate!=null">
			AND create_time BETWEEN #{startDate,jdbcType=VARCHAR} AND
			#{endDate,jdbcType=VARCHAR}
		</if>
		ORDER BY create_time desc
		LIMIT #{start, jdbcType=INTEGER}, #{pageSize,
		jdbcType=INTEGER}
	</select>
	<select id="getCount" parameterType="com.tianhong.domain.contact.Contact"
		resultType="java.lang.Integer">
		select
		count(1)
		from t_contact
		where 1=1
		<if test="name != null and  name!=''">
			AND name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null and endDate!=null">
			AND create_time BETWEEN #{startDate,jdbcType=VARCHAR} AND
			#{endDate,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>