<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihome.payment.dao.IReconSumDao">
	<resultMap id="reconCount" type="com.ihome.payment.domain.ReconSum">
	    <result column="id" jdbcType="BIGINT" property="id" />
	    <result column="recon_sn" jdbcType="VARCHAR" property="reconSn" />
		<result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
		
		<result column="chl_trans_amt" jdbcType="BIGINT" property="transAmt" />
		<result column="chl_trans_count" jdbcType="BIGINT" property="transCount" />
		
		<result column="chl_succ_amt" jdbcType="BIGINT" property="succAmt" />
		<result column="chl_succ_count" jdbcType="BIGINT" property="succCount" />
		
		<result column="currency" jdbcType="VARCHAR" property="currency" />
		<result column="recon_date" jdbcType="DATE" property="transDate" />
		
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<select id="getNextId" resultType="java.lang.Long">
		select allocate_record_id from recon_count
	</select>
	
	<insert id="createReconSum" parameterType="com.ihome.payment.domain.ReconSum" >
		insert into recon_count(id,recon_sn,channel_code,chl_trans_amt,chl_trans_count,
							    chl_succ_amt,chl_succ_count,currency,recon_date,create_time
								) 
		values(seq,#{reconSn,jdbcType=VARCHAR},#{channelCode,jdbcType=VARCHAR}, #{transAmt,jdbcType=BIGINT},
			   #{transCount,jdbcType=BIGINT},#{succAmt,jdbcType=BIGINT},#{succCount,jdbcType=BIGINT},
			   #{currency,jdbcType=VARCHAR},#{transDate,jdbcType=DATE},now()
			  )
	</insert>
	
	<select id="getByReconSn" resultMap="reconCount" parameterType="java.lang.String" >
		select id, recon_sn, channel_code, chl_trans_amt, chl_trans_count, chl_succ_amt, chl_succ_count, currency, recon_date, biz_trans_amt, 
			biz_trans_count, biz_succ_amt, biz_succ_count, more_amt, equal_amt, less_amt, more_count, equal_count, less_count, recon_result, 
			create_time, update_time
		from recon_count where recon_sn=#{reconSn,jdbcType=VARCHAR} 
	</select>
</mapper>