<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihome.payment.dao.IReconDetDao">
	
	<resultMap id="reconDet" type="com.ihome.payment.domain.ReconDet">
	    <result column="id" jdbcType="BIGINT" property="id" />
	    <result column="recon_sn" jdbcType="VARCHAR" property="reconSn" />
	    <result column="trans_sn" jdbcType="VARCHAR" property="transSn" />
		<result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
		
		<result column="trans_amt" jdbcType="BIGINT" property="transAmt" />
		<result column="currency" jdbcType="VARCHAR" property="currency" />
		<result column="trans_date" jdbcType="DATE" property="transDate" />
		<result column="trans_status" jdbcType="VARCHAR" property="transStatus" />
		<result column="card_no" jdbcType="VARCHAR" property="cardNo" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<insert id="createReconDet" parameterType="com.ihome.payment.domain.ReconDet" >
		insert into recon_chinapay_payment(id,recon_sn,trans_sn,channel_code,trans_amt,currency,
										 trans_date,trans_status,card_no,user_name,create_time) 
		values(seq,#{reconSn,jdbcType=VARCHAR},#{transSn,jdbcType=VARCHAR},#{channelCode,jdbcType=VARCHAR},
			   #{transAmt,jdbcType=BIGINT},#{currency,jdbcType=VARCHAR},#{transDate,jdbcType=DATE},
			   #{transStatus,jdbcType=VARCHAR},#{cardNo,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},now()
			  )
	</insert>
	
	<select id="getByReconSn" resultMap="reconDet" parameterType="java.lang.String" >
		select  id, recon_sn, trans_sn, channel_code, trans_amt, currency, 
			trans_date, trans_status,card_no, user_name, create_time, update_time
	    from recon_chinapay_payment where recon_sn=#{reconSn,jdbcType=VARCHAR} 
	</select>
</mapper>