/* writeen by 吴灿 || 微信:kingdomWC; */
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding:0; margin:0;}
body{ font-family:'Microsoft Yahei',Arial,Simsun;font-size:14px;min-width: 1200px;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
a{text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur());}
.clear{ display:block; clear:both;}
.relative{ position:relative;}
.grayscale{ filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */}
.fl{float:left;}
.fr{float:right;}
/* css reset */
.Header .header_liBlock {-webkit-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.Header{position: relative;width:100%;height: 80px;background: #f8f8f8;}
.Header.H2{background:#e3ecf0}
.header_content {position: relative;width:1200px;margin: auto;}
.header_logo {position: relative;float: left;padding:13px 0;}
.header_contentBlock {position: relative;float: right;width:790px;}
.header_ulBlock {position: relative;float: left;}
.header_rightBlock {position: relative;float: right;width:150px;}
.Header .header_liBlock {position: relative;display: block;float: left;height: 80px;line-height: 80px;padding: 0px 16px;color:#8b7b70;}
.header_wcWb {position: relative;float: left;padding: 19px 0;}
.header_wb,.header_wc {position: relative;display: block;width:42px;height: 42px;float: left;}
.header_wb {background:url(../images/wb.png) no-repeat center;}
.header_wc {background:url(../images/wc.png) no-repeat center;}
.header_select {position: relative;float: right;color:#e8a171;height: 30px;line-height: 30px;padding: 25px 0;cursor: pointer;}
.header_showBlock {width:52px;background: url(../images/b_1.png) no-repeat right;}
.Header .header_liBlock.current,.header_liBlock:hover {background: #e84137;color:#fff;}
.Header.H2 .header_liBlock.current,.Header.H2 .header_liBlock:hover {background: #e3ecf0;color:#e84137;border-bottom:2px solid #e84137;height:78px}
.Footer{position:relative;width:100%;background: #1a1a1a;color:#bfbfbf;height:40px}
.Footer.F2{background:url(../images/img/bg_4.jpg) repeat;color:#666}
.footer_content {position: relative;width:1200px;margin:auto;font-size:12px;}
.footer_text{position: relative;float:left;line-height:40px;height:40px;}
.footer_ulBlock {position: relative;float:right}
.footer_ulBlock a{color:#bfbfbf}
.footer_map,.footer_friendship {position:relative;float:right;padding:12px 0}
.footer_map {padding-left:12px;margin-left:10px;background: url(../images/b_4.jpg) no-repeat left}
.bodyer {position: relative;min-height: 800px;}
.titleImg_content {position: relative;width:100%;height: 200px;}
.titleImg_img {position: relative;width:600px;margin: auto;text-align: center;padding-top:60px;}
.nav_content {position: relative;width:100%;height: 60px;border-bottom:1px solid #f8e8e2;}
.nav_contentBlock {position: relative;width:1200px;margin: auto;}
.nav_aContent {position: relative;float: left;}
.nav_ulBlock {position: relative;float: right;}
.nav_aBlock {position: relative;display: block;color:#666666;height: 60px;line-height: 60px;float: left;padding-right:18px;margin-right:14px;}
.nav_aBlock.icon {background: url(../images/b_5.png) no-repeat right;}
.nav_liBlock {position: relative;float: left;display: block;height: 60px;line-height: 60px;padding:0px 16px;background: url(../images/b_6.jpg) no-repeat left;color:#808080;}
.nav_liBlock.current,.nav_liBlock:hover,.nav_aBlock.icon:hover {color:#e84137;}